{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum sahur dolor sit amet, consectetur adipisicing elit. Recusandae quis unde quia, expedita ex quod necessitatibus voluptatibus! Ad iure mollitia velit praesentium cumque officia numquam doloremque beatae ut, quas excepturi labore nam blanditiis, nobis dolores omnis? Quae amet iusto debitis laudantium accusantium dolores suscipit, quo harum quam laborum, recusandae nulla ut voluptatem aliquid who that fuck is giga nigga molestiae exercitationem nobis doloremque dolorum eveniet, magnam excepturi eaque. Cum, quo praesentium aliquid nobis ea rerum fugiat autem dolore totam, cupiditate 67 repellendus! Modi magnam voluptatibus sed reiciendis. Vero repellat tenetur minima, veniam praesentium expedita ea ipsa quam. Veritatis reprehenderit ratione eligendi sapiente dicta est, odit quaerat tenetur!
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'signin' %}"> 
                Signin
            </a>
            <a class="btn btn-dark" href="{% url 'signup' %}"> 
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}